.DS_Store
work/
DMRtest/
/.project
output/**/*.md
output/**/*.txt
output/**/*.html
output/**/*.csv
output/**/*.dat
output/**/*.rdt
output/**/*.icf
output/**/*.FT2D
output/**/*.FTM400
output/**/*.FT991
output/**/*.gdoc
extract of gsed
